/*! Coded by Von Miones */
* {
    font-family: 'Poppins';
    transition: all 0.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body{
    background-image: linear-gradient(rgba(35, 35, 45, 0.80), rgba(35, 35, 45, 0.90)), url('images/mountain.jpg');
    background-size: cover;
    height: 100%;
    color:beige;

}
.main {
    padding:20px;
    max-height: calc(100vh);
    height: calc(100vh);
    .main-wrapper{
        width:1024px;
        background-color: rgba(35, 35, 45, 0.30);
        margin:0 auto;
    }
    .flex {
        /*! Flex Class */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(80vh);
        margin-top:2rem;
        .gap{
            .gap-2px{
                gap:2px;
            }
            .gap-5px{
                gap:5px;
            }
            .gap-10px{
                gap:10px;
            }
            .gap-15px{
                gap:15px;
            }
        }
    }
}   
// ------------------- Sidebar Starts here
/*! Sidebar */
$sidebar_width:200px;
.sidebar {
    background-color:  rgba(35, 35, 45, 0.85);
    width:$sidebar_width;
    $profile-pic_width:calc($sidebar_width);
    .profile-pic-wrapper {
        background-color:orange;
        width:$profile-pic_width;
        height: 160px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-basis: content;
        flex-flow: column;
        margin: 0 auto;
        transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
        .profile-pic{
            height:190px;
            position:absolute;
            margin-top:-30px;
            width:$profile-pic_width;
            background-repeat: no-repeat;
            background-size: 220px;
            background-position: center;
            z-index: 90;
        }
        &:hover {
            transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            box-shadow: 0px 5px 5px #303030;
        }
    } //  Profile Picture

    .profile-info {
        text-align: center;
        p {
            font-size: 8pt;
            line-height: 10pt;
            padding:none;
            margin:0;
        }
    }
    .contact-info {
        text-align: center;
        p {
            font-size: 8pt;
            line-height: 10pt;
            padding:none;
            margin:0;
        }        
    }
    .menu {
        margin:0;
        padding:0;
        font-size: 12pt;
        width:100%;
        ul{
            list-style: none;
            margin:0;
            padding:0;
            li{
                transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
                padding:10px;
                color:#222;
                background-color: rgb(255, 165, 0,1);
                list-style: none;
                &:hover{
                    color:beige;
                    transition: all 0.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    background-color: rgb(255, 106, 0);
                    a{                        
                        color:beige;
                    }
                }
                a {
                    text-decoration: none;
                    color:#222;  
                    &:visited {
                        color:#222;  
                    }
                    &:active {
                        color:#222;
                    }
                    &:hover {
                        color:beige;
                    }
                }
            }
        }
    }
}

// ------------------- Sidebar Ends Here

.spacer {
    display:block;
    height:30px;
    width:100%;
}


.content {
    background-color: rgba(35, 35, 45, 0.50);
    padding:20px;
    width:  calc(100% - #{$sidebar_width});
    overflow-x: hidden;
    max-height: calc(80vh);
    .content-title {
        text-shadow: 2px 3px 2px rgba(0, 0, 0, 1),-1px 3px 0px rgba(0, 0, 0, 1),-1px 0px 0px rgba(0, 0, 0, 1),1px 0px 0px rgba(0, 0, 0, 1),-1px 5px 0px rgba(0, 0, 0, 1),15px -7px 3px rgba(0, 0, 0, 0),3px 5px 0px rgba(0, 0, 0, 1),0px 7px 5px rgba(0, 0, 0, 1),0px 7px 16px rgba(0, 0, 0, 1);        font-size:20pt;
        // position: absolute;
        // margin-top:-40px;
        font-weight: 900;
        font-style: italic;
    }
    div.cards {
        background-color: rgba(35, 35, 45, 0.70);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
        border:1px solid rgba(0, 0, 0, 0.1);
        font-size: 8pt;
        height:270px;
        width:220px;
        padding:20px;
        color:rgb(245, 245, 220,0.3);
        &:hover {
            color:rgb(245, 245, 220,1);
            transition: all 0.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

        }   
    }
    .centerered-content {
        margin:0 auto;
    }
    .content-wrapper{
        font-size: smaller;
        .flex {
            max-height: calc(50vh);
            margin-bottom:100px;
            display: flex;
            flex-direction: column;
            flex-flow: row;
            flex-basis: 0;
            flex-wrap: wrap;
            div.cards {
                margin:5px;
                &:hover {
                    color:rgb(245, 245, 220,1);
                    transition: all 0.3s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

                }
            }
        }
        .gap-10 {
            gap: 10px;
        }
        .gap-20 {
            gap: 20px;
        }
        .gap-30 {
            gap: 30px;
        }
        .gap-40 {
            gap: 40px;
        }
    }
}
.justify-center{
    justify-content: center;
    align-items: center;
}
.break-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    font-weight: bolder;
    .break-title-content {
        padding:5px;
    }
    .left-break-line {
        width:200px;
        height:1px;
        background-color: #dc5800;
    }
    .right-break-line {
        width:200px;
        height:1px;
        background-color: #dc5800;
    }
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffcc00 #DFE9EB;
    transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 2px;
    transition: all 1s  cubic-bezier(0.175, 0.885, 0.32, 1.275);  
}
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #B67606;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #A3711C;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #E7961C;
  }
  