/*! Coded by Von Miones */
* {
  font-family: "Poppins";
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  background-image: linear-gradient(rgba(35, 35, 45, 0.8), rgba(35, 35, 45, 0.9)), url("images/mountain.jpg");
  background-size: cover;
  height: 100%;
  color: beige;
}

.main {
  padding: 20px;
  max-height: 100vh;
  height: 100vh;
}
.main .main-wrapper {
  width: 1024px;
  background-color: rgba(35, 35, 45, 0.3);
  margin: 0 auto;
}
.main .flex {
  /*! Flex Class */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  margin-top: 2rem;
}
.main .flex .gap .gap-2px {
  gap: 2px;
}
.main .flex .gap .gap-5px {
  gap: 5px;
}
.main .flex .gap .gap-10px {
  gap: 10px;
}
.main .flex .gap .gap-15px {
  gap: 15px;
}

/*! Sidebar */
.sidebar {
  background-color: rgba(35, 35, 45, 0.85);
  width: 200px;
}
.sidebar .profile-pic-wrapper {
  background-color: orange;
  width: 200px;
  height: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: content;
  flex-flow: column;
  margin: 0 auto;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.sidebar .profile-pic-wrapper .profile-pic {
  height: 190px;
  position: absolute;
  margin-top: -30px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: center;
  z-index: 90;
}
.sidebar .profile-pic-wrapper:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 5px 5px #303030;
}
.sidebar .profile-info {
  text-align: center;
}
.sidebar .profile-info p {
  font-size: 8pt;
  line-height: 10pt;
  padding: none;
  margin: 0;
}
.sidebar .menu {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  width: 100%;
}
.sidebar .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .menu ul li {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  padding: 10px;
  color: #222;
  background-color: rgb(255, 165, 0);
  list-style: none;
}
.sidebar .menu ul li:hover {
  color: beige;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: rgb(255, 106, 0);
}
.sidebar .menu ul li:hover a {
  color: beige;
}
.sidebar .menu ul li a {
  text-decoration: none;
  color: #222;
}
.sidebar .menu ul li a:visited {
  color: #222;
}
.sidebar .menu ul li a:active {
  color: #222;
}
.sidebar .menu ul li a:hover {
  color: beige;
}

.spacer {
  display: block;
  height: 30px;
  width: 100%;
}

.content {
  background-color: rgba(35, 35, 45, 0.5);
  padding: 20px;
  width: calc(100% - 200px);
  overflow-x: hidden;
  max-height: 90vh;
}
.content .content-title {
  font-size: 20pt;
  position: absolute;
  margin-top: -40px;
  font-weight: 900;
  font-style: italic;
}
.content .content-wrapper {
  overflow-x: auto;
  font-size: smaller;
}
.content .content-wrapper .flex {
  max-height: 50vh;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  flex-basis: 0;
  flex-wrap: wrap;
}
.content .content-wrapper .flex .cards {
  background-color: rgba(35, 35, 45, 0.7);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 8pt;
  height: 270px;
  width: 220px;
  padding: 20px;
  margin: 5px;
  color: rgba(245, 245, 220, 0.3);
}
.content .content-wrapper .flex .cards:hover {
  color: rgb(245, 245, 220);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.content .content-wrapper .gap-30 {
  gap: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffcc00 #DFE9EB;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #B67606;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A3711C;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #E7961C;
}/*# sourceMappingURL=main.css.map */